h1{
    color:black;
}

.div_box_container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    border: 2px solid red;
    justify-content: space-evenly;
    padding: 20px;
}

.div_box_item{
    border: 3px solid black;
    height: 100px;
    width: 100px;
}

